html,
body {
  height: 100%;
  background: radial-gradient(#3bc, #1f707a);
  background-size: 100% 100%;
  background-color: #1f707a;
  margin: 0;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  color: #eee;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  padding: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  letter-spacing: 0.1em;
}
.juo-container {
  position: relative;
  margin: 10% auto 0 auto;
  max-width: 320px;
}
.juo-container .shadow {
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-top: -5%;
  height: 0;
  padding-bottom: 10%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}
.juo-container .juo {
  position: relative;
  margin-left: 10%;
  width: 80%;
  height: 0;
  padding-bottom: 105%;
  z-index: 1;
}
.juo-container .body {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  background-color: #eee;
  width: 100%;
  height: 100%;
  border-radius: 60%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 1;
}
.juo-container .ear {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #555 25%, transparent 25%), linear-gradient(-45deg, #555 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #555 75%) 8px 0, linear-gradient(-45deg, transparent 75%, #555 75%) 8px 0;
  background-size: 16px 16px;
  background-color: #fff;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  border-radius: 20%;
  z-index: 0;
}
.juo-container .ear.left {
  margin-left: -30%;
}
.juo-container .ear.right {
  margin-left: 10%;
}
.juo-container .eye {
  position: absolute;
  top: 20%;
  width: 35%;
  height: 0;
  padding-bottom: 35%;
  left: 50%;
  z-index: 2;
}
.juo-container .eye .eye-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 50%;
}
.juo-container .eye.left {
  margin-left: -37%;
}
.juo-container .eye.left .eye-shadow {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom-right-radius: 10%;
}
.juo-container .eye.right {
  margin-left: 2%;
}
.juo-container .eye.right .eye-shadow {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-left-radius: 10%;
}
.juo-container .eye .iris {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 50%;
  width: 70%;
  height: 70%;
  margin: 15%;
  background-color: #3bc;
  z-index: 0;
}
.juo-container .eye .iris::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 60%;
  height: 60%;
  margin: 20%;
  background-color: #333;
  z-index: 1;
}
.juo-container .nose {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 6%;
  height: 8%;
  background-color: #333;
  border-radius: 40%;
  top: 35%;
  left: 50%;
  margin-left: -3%;
  z-index: 2;
}
.juo-container .wing {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40%;
  background-color: #eee;
  width: 30%;
  height: 0;
  padding-bottom: 15%;
  border-radius: 50%;
  z-index: 2;
}
.juo-container .wing::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #555 25%, transparent 25%), linear-gradient(-45deg, #555 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #555 75%) 8px 0, linear-gradient(-45deg, transparent 75%, #555 75%) 8px 0;
  background-size: 16px 16px;
  background-color: #fff;
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 70%;
  height: 30%;
}
.juo-container .wing.left {
  left: -25%;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.juo-container .wing.left::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 60%;
  left: 10%;
}
.juo-container .wing.right {
  right: -25%;
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.juo-container .wing.right::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 60%;
  right: 10%;
}
.juo-container .belly {
  background: linear-gradient(45deg, #555 25%, transparent 25%), linear-gradient(-45deg, #555 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #555 75%) 8px 0, linear-gradient(-45deg, transparent 75%, #555 75%) 8px 0;
  background-size: 16px 16px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 80%;
  height: 45%;
  top: 50%;
  left: 10%;
  border-radius: 50%;
  z-index: 2;
}
.juo-container .foot {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -2%;
  width: 30%;
  height: 0;
  padding-bottom: 8%;
  background-color: #333;
  border-radius: 50%;
  z-index: 2;
}
.juo-container .foot.left {
  left: 18%;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
.juo-container .foot.right {
  right: 18%;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.juo-container .foot .toes {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  bottom: -20%;
  width: 30%;
  margin-left: -15%;
  height: 0;
  padding-bottom: 20%;
  background-color: #404040;
  border-radius: 50%;
}
.juo-container .foot .toes::before,
.juo-container .foot .toes::after {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10%;
  border-radius: 50%;
  background-color: #404040;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.juo-container .foot .toes::before {
  left: -110%;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
.juo-container .foot .toes::after {
  right: -110%;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
