@-webkit-keyframes blink {
  20% {
    -webkit-transform: scale(1, 1);
  }
  20.5% {
    -webkit-transform: scale(1, 0);
  }
  21% {
    -webkit-transform: scale(1, 1);
  }
  60% {
    -webkit-transform: scale(1, 1);
  }
  60.5% {
    -webkit-transform: scale(1, 0);
  }
  61% {
    -webkit-transform: scale(1, 1);
  }
  63% {
    -webkit-transform: scale(1, 1);
  }
  63.5% {
    -webkit-transform: scale(1, 0);
  }
  64% {
    -webkit-transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1, 1);
  }
  90.5% {
    -webkit-transform: scale(1, 0);
  }
  91% {
    -webkit-transform: scale(1, 1);
  }
}
@-moz-keyframes blink {
  20% {
    -moz-transform: scale(1, 1);
  }
  20.5% {
    -moz-transform: scale(1, 0);
  }
  21% {
    -moz-transform: scale(1, 1);
  }
  60% {
    -moz-transform: scale(1, 1);
  }
  60.5% {
    -moz-transform: scale(1, 0);
  }
  61% {
    -moz-transform: scale(1, 1);
  }
  63% {
    -moz-transform: scale(1, 1);
  }
  63.5% {
    -moz-transform: scale(1, 0);
  }
  64% {
    -moz-transform: scale(1, 1);
  }
  90% {
    -moz-transform: scale(1, 1);
  }
  90.5% {
    -moz-transform: scale(1, 0);
  }
  91% {
    -moz-transform: scale(1, 1);
  }
}
@-ms-keyframes blink {
  20% {
    -ms-transform: scale(1, 1);
  }
  20.5% {
    -ms-transform: scale(1, 0);
  }
  21% {
    -ms-transform: scale(1, 1);
  }
  60% {
    -ms-transform: scale(1, 1);
  }
  60.5% {
    -ms-transform: scale(1, 0);
  }
  61% {
    -ms-transform: scale(1, 1);
  }
  63% {
    -ms-transform: scale(1, 1);
  }
  63.5% {
    -ms-transform: scale(1, 0);
  }
  64% {
    -ms-transform: scale(1, 1);
  }
  90% {
    -ms-transform: scale(1, 1);
  }
  90.5% {
    -ms-transform: scale(1, 0);
  }
  91% {
    -ms-transform: scale(1, 1);
  }
}
@-o-keyframes blink {
  20% {
    -o-transform: scale(1, 1);
  }
  20.5% {
    -o-transform: scale(1, 0);
  }
  21% {
    -o-transform: scale(1, 1);
  }
  60% {
    -o-transform: scale(1, 1);
  }
  60.5% {
    -o-transform: scale(1, 0);
  }
  61% {
    -o-transform: scale(1, 1);
  }
  63% {
    -o-transform: scale(1, 1);
  }
  63.5% {
    -o-transform: scale(1, 0);
  }
  64% {
    -o-transform: scale(1, 1);
  }
  90% {
    -o-transform: scale(1, 1);
  }
  90.5% {
    -o-transform: scale(1, 0);
  }
  91% {
    -o-transform: scale(1, 1);
  }
}
@keyframes blink {
  20% {
    transform: scale(1, 1);
  }
  20.5% {
    transform: scale(1, 0);
  }
  21% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(1, 1);
  }
  60.5% {
    transform: scale(1, 0);
  }
  61% {
    transform: scale(1, 1);
  }
  63% {
    transform: scale(1, 1);
  }
  63.5% {
    transform: scale(1, 0);
  }
  64% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  90.5% {
    transform: scale(1, 0);
  }
  91% {
    transform: scale(1, 1);
  }
}
.blink {
  -webkit-animation: linear infinite blink 10s;
  -moz-animation: linear infinite blink 10s;
  -ms-animation: linear infinite blink 10s;
  -o-animation: linear infinite blink 10s;
  animation: linear infinite blink 10s;
}
@-webkit-keyframes flap-left {
  0% {
    transform: rotate(-60deg);
  }
  0.5% {
    transform: rotate(-55deg);
  }
  1% {
    transform: rotate(-60deg);
  }
  1% {
    transform: rotate(-60deg);
  }
  1.5% {
    transform: rotate(-55deg);
  }
  2% {
    transform: rotate(-60deg);
  }
  2% {
    transform: rotate(-60deg);
  }
  2.5% {
    transform: rotate(-55deg);
  }
  3% {
    transform: rotate(-60deg);
  }
  40% {
    transform: rotate(-60deg);
  }
  40.5% {
    transform: rotate(-55deg);
  }
  41% {
    transform: rotate(-60deg);
  }
  60% {
    transform: rotate(-60deg);
  }
  60.5% {
    transform: rotate(-55deg);
  }
  61% {
    transform: rotate(-60deg);
  }
  61% {
    transform: rotate(-60deg);
  }
  61.5% {
    transform: rotate(-55deg);
  }
  62% {
    transform: rotate(-60deg);
  }
  62% {
    transform: rotate(-60deg);
  }
  62.5% {
    transform: rotate(-55deg);
  }
  63% {
    transform: rotate(-60deg);
  }
  70% {
    transform: rotate(-60deg);
  }
  70.5% {
    transform: rotate(-55deg);
  }
  71% {
    transform: rotate(-60deg);
  }
  75% {
    transform: rotate(-60deg);
  }
  75.5% {
    transform: rotate(-55deg);
  }
  76% {
    transform: rotate(-60deg);
  }
}
@-moz-keyframes flap-left {
  0% {
    transform: rotate(-60deg);
  }
  0.5% {
    transform: rotate(-55deg);
  }
  1% {
    transform: rotate(-60deg);
  }
  1% {
    transform: rotate(-60deg);
  }
  1.5% {
    transform: rotate(-55deg);
  }
  2% {
    transform: rotate(-60deg);
  }
  2% {
    transform: rotate(-60deg);
  }
  2.5% {
    transform: rotate(-55deg);
  }
  3% {
    transform: rotate(-60deg);
  }
  40% {
    transform: rotate(-60deg);
  }
  40.5% {
    transform: rotate(-55deg);
  }
  41% {
    transform: rotate(-60deg);
  }
  60% {
    transform: rotate(-60deg);
  }
  60.5% {
    transform: rotate(-55deg);
  }
  61% {
    transform: rotate(-60deg);
  }
  61% {
    transform: rotate(-60deg);
  }
  61.5% {
    transform: rotate(-55deg);
  }
  62% {
    transform: rotate(-60deg);
  }
  62% {
    transform: rotate(-60deg);
  }
  62.5% {
    transform: rotate(-55deg);
  }
  63% {
    transform: rotate(-60deg);
  }
  70% {
    transform: rotate(-60deg);
  }
  70.5% {
    transform: rotate(-55deg);
  }
  71% {
    transform: rotate(-60deg);
  }
  75% {
    transform: rotate(-60deg);
  }
  75.5% {
    transform: rotate(-55deg);
  }
  76% {
    transform: rotate(-60deg);
  }
}
@-ms-keyframes flap-left {
  0% {
    transform: rotate(-60deg);
  }
  0.5% {
    transform: rotate(-55deg);
  }
  1% {
    transform: rotate(-60deg);
  }
  1% {
    transform: rotate(-60deg);
  }
  1.5% {
    transform: rotate(-55deg);
  }
  2% {
    transform: rotate(-60deg);
  }
  2% {
    transform: rotate(-60deg);
  }
  2.5% {
    transform: rotate(-55deg);
  }
  3% {
    transform: rotate(-60deg);
  }
  40% {
    transform: rotate(-60deg);
  }
  40.5% {
    transform: rotate(-55deg);
  }
  41% {
    transform: rotate(-60deg);
  }
  60% {
    transform: rotate(-60deg);
  }
  60.5% {
    transform: rotate(-55deg);
  }
  61% {
    transform: rotate(-60deg);
  }
  61% {
    transform: rotate(-60deg);
  }
  61.5% {
    transform: rotate(-55deg);
  }
  62% {
    transform: rotate(-60deg);
  }
  62% {
    transform: rotate(-60deg);
  }
  62.5% {
    transform: rotate(-55deg);
  }
  63% {
    transform: rotate(-60deg);
  }
  70% {
    transform: rotate(-60deg);
  }
  70.5% {
    transform: rotate(-55deg);
  }
  71% {
    transform: rotate(-60deg);
  }
  75% {
    transform: rotate(-60deg);
  }
  75.5% {
    transform: rotate(-55deg);
  }
  76% {
    transform: rotate(-60deg);
  }
}
@-o-keyframes flap-left {
  0% {
    transform: rotate(-60deg);
  }
  0.5% {
    transform: rotate(-55deg);
  }
  1% {
    transform: rotate(-60deg);
  }
  1% {
    transform: rotate(-60deg);
  }
  1.5% {
    transform: rotate(-55deg);
  }
  2% {
    transform: rotate(-60deg);
  }
  2% {
    transform: rotate(-60deg);
  }
  2.5% {
    transform: rotate(-55deg);
  }
  3% {
    transform: rotate(-60deg);
  }
  40% {
    transform: rotate(-60deg);
  }
  40.5% {
    transform: rotate(-55deg);
  }
  41% {
    transform: rotate(-60deg);
  }
  60% {
    transform: rotate(-60deg);
  }
  60.5% {
    transform: rotate(-55deg);
  }
  61% {
    transform: rotate(-60deg);
  }
  61% {
    transform: rotate(-60deg);
  }
  61.5% {
    transform: rotate(-55deg);
  }
  62% {
    transform: rotate(-60deg);
  }
  62% {
    transform: rotate(-60deg);
  }
  62.5% {
    transform: rotate(-55deg);
  }
  63% {
    transform: rotate(-60deg);
  }
  70% {
    transform: rotate(-60deg);
  }
  70.5% {
    transform: rotate(-55deg);
  }
  71% {
    transform: rotate(-60deg);
  }
  75% {
    transform: rotate(-60deg);
  }
  75.5% {
    transform: rotate(-55deg);
  }
  76% {
    transform: rotate(-60deg);
  }
}
@keyframes flap-left {
  0% {
    transform: rotate(-60deg);
  }
  0.5% {
    transform: rotate(-55deg);
  }
  1% {
    transform: rotate(-60deg);
  }
  1% {
    transform: rotate(-60deg);
  }
  1.5% {
    transform: rotate(-55deg);
  }
  2% {
    transform: rotate(-60deg);
  }
  2% {
    transform: rotate(-60deg);
  }
  2.5% {
    transform: rotate(-55deg);
  }
  3% {
    transform: rotate(-60deg);
  }
  40% {
    transform: rotate(-60deg);
  }
  40.5% {
    transform: rotate(-55deg);
  }
  41% {
    transform: rotate(-60deg);
  }
  60% {
    transform: rotate(-60deg);
  }
  60.5% {
    transform: rotate(-55deg);
  }
  61% {
    transform: rotate(-60deg);
  }
  61% {
    transform: rotate(-60deg);
  }
  61.5% {
    transform: rotate(-55deg);
  }
  62% {
    transform: rotate(-60deg);
  }
  62% {
    transform: rotate(-60deg);
  }
  62.5% {
    transform: rotate(-55deg);
  }
  63% {
    transform: rotate(-60deg);
  }
  70% {
    transform: rotate(-60deg);
  }
  70.5% {
    transform: rotate(-55deg);
  }
  71% {
    transform: rotate(-60deg);
  }
  75% {
    transform: rotate(-60deg);
  }
  75.5% {
    transform: rotate(-55deg);
  }
  76% {
    transform: rotate(-60deg);
  }
}
@-webkit-keyframes flap-right {
  0% {
    transform: rotate(60deg);
  }
  0.5% {
    transform: rotate(55deg);
  }
  1% {
    transform: rotate(60deg);
  }
  1% {
    transform: rotate(60deg);
  }
  1.5% {
    transform: rotate(55deg);
  }
  2% {
    transform: rotate(60deg);
  }
  2% {
    transform: rotate(60deg);
  }
  2.5% {
    transform: rotate(55deg);
  }
  3% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(60deg);
  }
  40.5% {
    transform: rotate(55deg);
  }
  41% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(60deg);
  }
  60.5% {
    transform: rotate(55deg);
  }
  61% {
    transform: rotate(60deg);
  }
  61% {
    transform: rotate(60deg);
  }
  61.5% {
    transform: rotate(55deg);
  }
  62% {
    transform: rotate(60deg);
  }
  62% {
    transform: rotate(60deg);
  }
  62.5% {
    transform: rotate(55deg);
  }
  63% {
    transform: rotate(60deg);
  }
  70% {
    transform: rotate(60deg);
  }
  70.5% {
    transform: rotate(55deg);
  }
  71% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(60deg);
  }
  75.5% {
    transform: rotate(55deg);
  }
  76% {
    transform: rotate(60deg);
  }
}
@-moz-keyframes flap-right {
  0% {
    transform: rotate(60deg);
  }
  0.5% {
    transform: rotate(55deg);
  }
  1% {
    transform: rotate(60deg);
  }
  1% {
    transform: rotate(60deg);
  }
  1.5% {
    transform: rotate(55deg);
  }
  2% {
    transform: rotate(60deg);
  }
  2% {
    transform: rotate(60deg);
  }
  2.5% {
    transform: rotate(55deg);
  }
  3% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(60deg);
  }
  40.5% {
    transform: rotate(55deg);
  }
  41% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(60deg);
  }
  60.5% {
    transform: rotate(55deg);
  }
  61% {
    transform: rotate(60deg);
  }
  61% {
    transform: rotate(60deg);
  }
  61.5% {
    transform: rotate(55deg);
  }
  62% {
    transform: rotate(60deg);
  }
  62% {
    transform: rotate(60deg);
  }
  62.5% {
    transform: rotate(55deg);
  }
  63% {
    transform: rotate(60deg);
  }
  70% {
    transform: rotate(60deg);
  }
  70.5% {
    transform: rotate(55deg);
  }
  71% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(60deg);
  }
  75.5% {
    transform: rotate(55deg);
  }
  76% {
    transform: rotate(60deg);
  }
}
@-ms-keyframes flap-right {
  0% {
    transform: rotate(60deg);
  }
  0.5% {
    transform: rotate(55deg);
  }
  1% {
    transform: rotate(60deg);
  }
  1% {
    transform: rotate(60deg);
  }
  1.5% {
    transform: rotate(55deg);
  }
  2% {
    transform: rotate(60deg);
  }
  2% {
    transform: rotate(60deg);
  }
  2.5% {
    transform: rotate(55deg);
  }
  3% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(60deg);
  }
  40.5% {
    transform: rotate(55deg);
  }
  41% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(60deg);
  }
  60.5% {
    transform: rotate(55deg);
  }
  61% {
    transform: rotate(60deg);
  }
  61% {
    transform: rotate(60deg);
  }
  61.5% {
    transform: rotate(55deg);
  }
  62% {
    transform: rotate(60deg);
  }
  62% {
    transform: rotate(60deg);
  }
  62.5% {
    transform: rotate(55deg);
  }
  63% {
    transform: rotate(60deg);
  }
  70% {
    transform: rotate(60deg);
  }
  70.5% {
    transform: rotate(55deg);
  }
  71% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(60deg);
  }
  75.5% {
    transform: rotate(55deg);
  }
  76% {
    transform: rotate(60deg);
  }
}
@-o-keyframes flap-right {
  0% {
    transform: rotate(60deg);
  }
  0.5% {
    transform: rotate(55deg);
  }
  1% {
    transform: rotate(60deg);
  }
  1% {
    transform: rotate(60deg);
  }
  1.5% {
    transform: rotate(55deg);
  }
  2% {
    transform: rotate(60deg);
  }
  2% {
    transform: rotate(60deg);
  }
  2.5% {
    transform: rotate(55deg);
  }
  3% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(60deg);
  }
  40.5% {
    transform: rotate(55deg);
  }
  41% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(60deg);
  }
  60.5% {
    transform: rotate(55deg);
  }
  61% {
    transform: rotate(60deg);
  }
  61% {
    transform: rotate(60deg);
  }
  61.5% {
    transform: rotate(55deg);
  }
  62% {
    transform: rotate(60deg);
  }
  62% {
    transform: rotate(60deg);
  }
  62.5% {
    transform: rotate(55deg);
  }
  63% {
    transform: rotate(60deg);
  }
  70% {
    transform: rotate(60deg);
  }
  70.5% {
    transform: rotate(55deg);
  }
  71% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(60deg);
  }
  75.5% {
    transform: rotate(55deg);
  }
  76% {
    transform: rotate(60deg);
  }
}
@keyframes flap-right {
  0% {
    transform: rotate(60deg);
  }
  0.5% {
    transform: rotate(55deg);
  }
  1% {
    transform: rotate(60deg);
  }
  1% {
    transform: rotate(60deg);
  }
  1.5% {
    transform: rotate(55deg);
  }
  2% {
    transform: rotate(60deg);
  }
  2% {
    transform: rotate(60deg);
  }
  2.5% {
    transform: rotate(55deg);
  }
  3% {
    transform: rotate(60deg);
  }
  40% {
    transform: rotate(60deg);
  }
  40.5% {
    transform: rotate(55deg);
  }
  41% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(60deg);
  }
  60.5% {
    transform: rotate(55deg);
  }
  61% {
    transform: rotate(60deg);
  }
  61% {
    transform: rotate(60deg);
  }
  61.5% {
    transform: rotate(55deg);
  }
  62% {
    transform: rotate(60deg);
  }
  62% {
    transform: rotate(60deg);
  }
  62.5% {
    transform: rotate(55deg);
  }
  63% {
    transform: rotate(60deg);
  }
  70% {
    transform: rotate(60deg);
  }
  70.5% {
    transform: rotate(55deg);
  }
  71% {
    transform: rotate(60deg);
  }
  75% {
    transform: rotate(60deg);
  }
  75.5% {
    transform: rotate(55deg);
  }
  76% {
    transform: rotate(60deg);
  }
}
.flap.left {
  -webkit-animation: linear infinite flap-left 20s;
  -moz-animation: linear infinite flap-left 20s;
  -ms-animation: linear infinite flap-left 20s;
  -o-animation: linear infinite flap-left 20s;
  animation: linear infinite flap-left 20s;
}
.flap.right {
  -webkit-animation: linear infinite flap-right 20s;
  -moz-animation: linear infinite flap-right 20s;
  -ms-animation: linear infinite flap-right 20s;
  -o-animation: linear infinite flap-right 20s;
  animation: linear infinite flap-right 20s;
}
@-webkit-keyframes wiggle {
  10% {
    -webkit-transform: rotate(0);
  }
  10.25% {
    -webkit-transform: rotate(-0.5deg);
  }
  10.75% {
    -webkit-transform: rotate(0.5deg);
  }
  11% {
    -webkit-transform: rotate(0);
  }
  40% {
    -webkit-transform: rotate(0);
  }
  40.25% {
    -webkit-transform: rotate(-0.5deg);
  }
  40.75% {
    -webkit-transform: rotate(0.5deg);
  }
  41% {
    -webkit-transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(0);
  }
  50.25% {
    -webkit-transform: rotate(-0.5deg);
  }
  50.75% {
    -webkit-transform: rotate(0.5deg);
  }
  51% {
    -webkit-transform: rotate(0);
  }
  51% {
    -webkit-transform: rotate(0);
  }
  51.25% {
    -webkit-transform: rotate(-0.5deg);
  }
  51.75% {
    -webkit-transform: rotate(0.5deg);
  }
  52% {
    -webkit-transform: rotate(0);
  }
  52% {
    -webkit-transform: rotate(0);
  }
  52.25% {
    -webkit-transform: rotate(-0.5deg);
  }
  52.75% {
    -webkit-transform: rotate(0.5deg);
  }
  53% {
    -webkit-transform: rotate(0);
  }
  70% {
    -webkit-transform: rotate(0);
  }
  70.25% {
    -webkit-transform: rotate(-0.5deg);
  }
  70.75% {
    -webkit-transform: rotate(0.5deg);
  }
  71% {
    -webkit-transform: rotate(0);
  }
  71% {
    -webkit-transform: rotate(0);
  }
  71.25% {
    -webkit-transform: rotate(-0.5deg);
  }
  71.75% {
    -webkit-transform: rotate(0.5deg);
  }
  72% {
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes wiggle {
  10% {
    -moz-transform: rotate(0);
  }
  10.25% {
    -moz-transform: rotate(-0.5deg);
  }
  10.75% {
    -moz-transform: rotate(0.5deg);
  }
  11% {
    -moz-transform: rotate(0);
  }
  40% {
    -moz-transform: rotate(0);
  }
  40.25% {
    -moz-transform: rotate(-0.5deg);
  }
  40.75% {
    -moz-transform: rotate(0.5deg);
  }
  41% {
    -moz-transform: rotate(0);
  }
  50% {
    -moz-transform: rotate(0);
  }
  50.25% {
    -moz-transform: rotate(-0.5deg);
  }
  50.75% {
    -moz-transform: rotate(0.5deg);
  }
  51% {
    -moz-transform: rotate(0);
  }
  51% {
    -moz-transform: rotate(0);
  }
  51.25% {
    -moz-transform: rotate(-0.5deg);
  }
  51.75% {
    -moz-transform: rotate(0.5deg);
  }
  52% {
    -moz-transform: rotate(0);
  }
  52% {
    -moz-transform: rotate(0);
  }
  52.25% {
    -moz-transform: rotate(-0.5deg);
  }
  52.75% {
    -moz-transform: rotate(0.5deg);
  }
  53% {
    -moz-transform: rotate(0);
  }
  70% {
    -moz-transform: rotate(0);
  }
  70.25% {
    -moz-transform: rotate(-0.5deg);
  }
  70.75% {
    -moz-transform: rotate(0.5deg);
  }
  71% {
    -moz-transform: rotate(0);
  }
  71% {
    -moz-transform: rotate(0);
  }
  71.25% {
    -moz-transform: rotate(-0.5deg);
  }
  71.75% {
    -moz-transform: rotate(0.5deg);
  }
  72% {
    -moz-transform: rotate(0);
  }
}
@-ms-keyframes wiggle {
  10% {
    -ms-transform: rotate(0);
  }
  10.25% {
    -ms-transform: rotate(-0.5deg);
  }
  10.75% {
    -ms-transform: rotate(0.5deg);
  }
  11% {
    -ms-transform: rotate(0);
  }
  40% {
    -ms-transform: rotate(0);
  }
  40.25% {
    -ms-transform: rotate(-0.5deg);
  }
  40.75% {
    -ms-transform: rotate(0.5deg);
  }
  41% {
    -ms-transform: rotate(0);
  }
  50% {
    -ms-transform: rotate(0);
  }
  50.25% {
    -ms-transform: rotate(-0.5deg);
  }
  50.75% {
    -ms-transform: rotate(0.5deg);
  }
  51% {
    -ms-transform: rotate(0);
  }
  51% {
    -ms-transform: rotate(0);
  }
  51.25% {
    -ms-transform: rotate(-0.5deg);
  }
  51.75% {
    -ms-transform: rotate(0.5deg);
  }
  52% {
    -ms-transform: rotate(0);
  }
  52% {
    -ms-transform: rotate(0);
  }
  52.25% {
    -ms-transform: rotate(-0.5deg);
  }
  52.75% {
    -ms-transform: rotate(0.5deg);
  }
  53% {
    -ms-transform: rotate(0);
  }
  70% {
    -ms-transform: rotate(0);
  }
  70.25% {
    -ms-transform: rotate(-0.5deg);
  }
  70.75% {
    -ms-transform: rotate(0.5deg);
  }
  71% {
    -ms-transform: rotate(0);
  }
  71% {
    -ms-transform: rotate(0);
  }
  71.25% {
    -ms-transform: rotate(-0.5deg);
  }
  71.75% {
    -ms-transform: rotate(0.5deg);
  }
  72% {
    -ms-transform: rotate(0);
  }
}
@-o-keyframes wiggle {
  10% {
    -o-transform: rotate(0);
  }
  10.25% {
    -o-transform: rotate(-0.5deg);
  }
  10.75% {
    -o-transform: rotate(0.5deg);
  }
  11% {
    -o-transform: rotate(0);
  }
  40% {
    -o-transform: rotate(0);
  }
  40.25% {
    -o-transform: rotate(-0.5deg);
  }
  40.75% {
    -o-transform: rotate(0.5deg);
  }
  41% {
    -o-transform: rotate(0);
  }
  50% {
    -o-transform: rotate(0);
  }
  50.25% {
    -o-transform: rotate(-0.5deg);
  }
  50.75% {
    -o-transform: rotate(0.5deg);
  }
  51% {
    -o-transform: rotate(0);
  }
  51% {
    -o-transform: rotate(0);
  }
  51.25% {
    -o-transform: rotate(-0.5deg);
  }
  51.75% {
    -o-transform: rotate(0.5deg);
  }
  52% {
    -o-transform: rotate(0);
  }
  52% {
    -o-transform: rotate(0);
  }
  52.25% {
    -o-transform: rotate(-0.5deg);
  }
  52.75% {
    -o-transform: rotate(0.5deg);
  }
  53% {
    -o-transform: rotate(0);
  }
  70% {
    -o-transform: rotate(0);
  }
  70.25% {
    -o-transform: rotate(-0.5deg);
  }
  70.75% {
    -o-transform: rotate(0.5deg);
  }
  71% {
    -o-transform: rotate(0);
  }
  71% {
    -o-transform: rotate(0);
  }
  71.25% {
    -o-transform: rotate(-0.5deg);
  }
  71.75% {
    -o-transform: rotate(0.5deg);
  }
  72% {
    -o-transform: rotate(0);
  }
}
@keyframes wiggle {
  10% {
    transform: rotate(0);
  }
  10.25% {
    transform: rotate(-0.5deg);
  }
  10.75% {
    transform: rotate(0.5deg);
  }
  11% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(0);
  }
  40.25% {
    transform: rotate(-0.5deg);
  }
  40.75% {
    transform: rotate(0.5deg);
  }
  41% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
  50.25% {
    transform: rotate(-0.5deg);
  }
  50.75% {
    transform: rotate(0.5deg);
  }
  51% {
    transform: rotate(0);
  }
  51% {
    transform: rotate(0);
  }
  51.25% {
    transform: rotate(-0.5deg);
  }
  51.75% {
    transform: rotate(0.5deg);
  }
  52% {
    transform: rotate(0);
  }
  52% {
    transform: rotate(0);
  }
  52.25% {
    transform: rotate(-0.5deg);
  }
  52.75% {
    transform: rotate(0.5deg);
  }
  53% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(0);
  }
  70.25% {
    transform: rotate(-0.5deg);
  }
  70.75% {
    transform: rotate(0.5deg);
  }
  71% {
    transform: rotate(0);
  }
  71% {
    transform: rotate(0);
  }
  71.25% {
    transform: rotate(-0.5deg);
  }
  71.75% {
    transform: rotate(0.5deg);
  }
  72% {
    transform: rotate(0);
  }
}
.wiggle {
  -webkit-animation: linear infinite wiggle 30s;
  -moz-animation: linear infinite wiggle 30s;
  -ms-animation: linear infinite wiggle 30s;
  -o-animation: linear infinite wiggle 30s;
  animation: linear infinite wiggle 30s;
}
html {
  background: radial-gradient(#3bc, #1f707a);
  background-size: 100% 100%;
  background-color: #1f707a;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  color: #eee;
  position: absolute;
  width: 100%;
  height: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  position: relative;
  padding: 60px 20px 20px 20px;
}
.table-center {
  display: table;
  width: 100%;
  height: 100%;
}
.table-center .table-cell-center {
  display: table-cell;
  vertical-align: middle;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
}
h1 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 20px;
  left: 0;
  font-size: 36px;
}
.juo-container {
  position: relative;
  margin: 20px auto;
  max-width: 320px;
}
.juo-container .shadow {
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-top: -5%;
  height: 0;
  padding-bottom: 10%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}
.juo-container .juo {
  position: relative;
  margin-left: 10%;
  width: 80%;
  height: 0;
  padding-bottom: 105%;
  z-index: 1;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.juo-container .body {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  background-color: #eee;
  width: 100%;
  height: 100%;
  border-radius: 60%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 1;
}
.juo-container .ear {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #555 25%, transparent 25%), linear-gradient(-45deg, #555 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #555 75%) 8px 0, linear-gradient(-45deg, transparent 75%, #555 75%) 8px 0;
  background-size: 16px 16px;
  background-color: #fff;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  border-radius: 20%;
  z-index: 0;
}
.juo-container .ear.left {
  margin-left: -30%;
}
.juo-container .ear.right {
  margin-left: 10%;
}
.juo-container .eye {
  position: absolute;
  top: 20%;
  width: 35%;
  height: 0;
  padding-bottom: 35%;
  left: 50%;
  z-index: 2;
}
.juo-container .eye .eye-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 50%;
}
.juo-container .eye.left {
  margin-left: -37%;
}
.juo-container .eye.left .eye-shadow {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom-right-radius: 10%;
}
.juo-container .eye.right {
  margin-left: 2%;
}
.juo-container .eye.right .eye-shadow {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom-left-radius: 10%;
}
.juo-container .eye .iris {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 50%;
  width: 70%;
  height: 70%;
  margin: 15%;
  background-color: #3bc;
  z-index: 0;
}
.juo-container .eye .iris .pupil {
  position: absolute;
  border-radius: 50%;
  width: 60%;
  height: 60%;
  margin: 20%;
  background-color: #333;
  z-index: 1;
}
.juo-container .nose {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 6%;
  height: 8%;
  background-color: #333;
  border-radius: 40%;
  top: 35%;
  left: 50%;
  margin-left: -3%;
  z-index: 2;
}
.juo-container .wing {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40%;
  background-color: #eee;
  width: 30%;
  height: 0;
  padding-bottom: 15%;
  border-radius: 50%;
  z-index: 2;
}
.juo-container .wing::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #555 25%, transparent 25%), linear-gradient(-45deg, #555 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #555 75%) 8px 0, linear-gradient(-45deg, transparent 75%, #555 75%) 8px 0;
  background-size: 16px 16px;
  background-color: #fff;
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 70%;
  height: 30%;
}
.juo-container .wing.left {
  left: -25%;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.juo-container .wing.left::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 60%;
  left: 10%;
}
.juo-container .wing.right {
  right: -25%;
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.juo-container .wing.right::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  top: 60%;
  right: 10%;
}
.juo-container .belly {
  background: linear-gradient(45deg, #555 25%, transparent 25%), linear-gradient(-45deg, #555 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #555 75%) 8px 0, linear-gradient(-45deg, transparent 75%, #555 75%) 8px 0;
  background-size: 16px 16px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 80%;
  height: 45%;
  top: 50%;
  left: 10%;
  border-radius: 50%;
  z-index: 2;
}
.juo-container .foot {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -2%;
  width: 30%;
  height: 0;
  padding-bottom: 8%;
  background-color: #333;
  border-radius: 50%;
  z-index: 2;
}
.juo-container .foot.left {
  left: 18%;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
.juo-container .foot.right {
  right: 18%;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.juo-container .foot .toes {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  bottom: -20%;
  width: 30%;
  margin-left: -15%;
  height: 0;
  padding-bottom: 20%;
  background-color: #404040;
  border-radius: 50%;
}
.juo-container .foot .toes::before,
.juo-container .foot .toes::after {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10%;
  border-radius: 50%;
  background-color: #404040;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.juo-container .foot .toes::before {
  left: -110%;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
.juo-container .foot .toes::after {
  right: -110%;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
