.blink(@percent, @prefix: ~'') {
  @start: @percent + 0%;
  @middle: @percent + 0.5%;
  @end: @percent + 1%;

  @{start} {
    @{prefix}transform: scale(1, 1);
  }

  @{middle} {
    @{prefix}transform: scale(1, 0);
  }

  @{end} {
    @{prefix}transform: scale(1, 1);
  }
}

.blinks(@prefix: ~'') {
  .blink(20, @prefix);
  .blink(60, @prefix);
  .blink(63, @prefix);
  .blink(90, @prefix);
}

@-webkit-keyframes blink {
  .blinks(-webkit-);
}
@-moz-keyframes blink {
  .blinks(-moz-);
}
@-ms-keyframes blink {
  .blinks(-ms-);
}
@-o-keyframes blink {
  .blinks(-o-);
}
@keyframes blink {
  .blinks();
}

.blink {
  .animation(linear infinite blink 10s;);
}
