.box-sizing(@value: border-box) {
  -webkit-box-sizing: @value;
  -moz-box-sizing: @value;
  box-sizing: @value;
}

.box-shadow(@value: 0 1px 3px 0 @shadow-color) {
  -webkit-box-shadow: @value;
  -moz-box-shadow: @value;
  box-shadow: @value;
}

.inset-box-shadow() {
  .box-shadow(inset 0 1px 3px 0 @shadow-color);
}

.transform(@value) {
  -webkit-transform: @value;
  -moz-transform: @value;
  -ms-transform: @value;
  -o-transform: @value;
  transform: @value;
}

.transform-origin(@value) {
  -webkit-transform-origin: @value;
  -moz-transform-origin: @value;
  -ms-transform-origin: @value;
  -o-transform-origin: @value;
  transform-origin: @value;
}

.filter(@value) {
  -webkit-filter: @value;
  -moz-filter: @value;
  -ms-filter: @value;
  -o-filter: @value;
  filter: @value;
}
